<h1 class='page-header'>Leaderboard</h1>

<table class="table table-striped">
  <tr>
    <td>Rank</td>
    <td>Name</td>
    <td>Score</td>
    <td>Games Played</td>
  </tr>
  <% @ranked_users.each_with_index do |user, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= user.name %></td>
      <td><%= user.elo %></td>
      <td><%= user.games.length %></td>
    </tr>
  <% end %>
</table>


