<h1 class='page-header'>Leaderboard</h1>

<table class="table table-striped">
  <tr>
    <td>Date</td>
    <td>Opponent</td>
    <td>Score</td>
    <td>Result</td>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game_date(game) %></td>
      <td><%= game_opponent(game) %></td>
      <td><%= game_score(game) %></td>
      <td><%= game_result(game) %></td>
    </tr>
  <% end %>
</table>
